#first {
    background-color: rgb(240, 240, 255);
}
#second {
background-color: rgb(220, 220, 255);
}
#third {
background-color: rgb(200, 200, 255);
}
#fourth {
background-color: rgb(150, 150, 255);
}
#fifth {
background-color: rgb(120, 120, 255);}

#sixth {
background-color: rgb(80, 80, 255);
}
#seventh {
background-color: rgb(60, 60, 255);
}
#eighth {
background-color: rgb(40, 40, 255);
}
#ninth {
background-color: rgb(20, 20, 255);
}
#tenth {
background-color: rgb(0, 0, 255);
}
#elv {
    background-color: rgb(0, 0, 255);
}
#twl {
    background-color: rgb(0, 0, 230);
}
#thirt {
    background-color: rgb(0, 0, 200);
}
#fort {
    background-color: rgb(0, 0, 190);
}
#fift {
    background-color: rgb(0, 0, 170);
}
#sixt {
    background-color: rgb(0, 0, 150);
}
#sevent {
    background-color: rgb(0, 0, 120);
}
#eight {
    background-color: rgb(0, 0, 100);
}
#nin {
    background-color: rgb(0, 0, 80);
}
#twn {
    background-color: rgb(0, 0, 60);
}